/* src/custom.css */
.movie-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit-based browsers */
  }
  
  .movie-list {
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
  }
  